
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset</title>
  
  <!--box icons-->
  <style>
    *{
      background-color: #3492fd;
    }
    .btn{
      background-color: black;
      color: #fff;
      border-radius: 10px;
    }
    .btn:hover{
      background-color: #fff;
      cursor: pointer;
      color: black;
      border-radius: 10px;
    }

  </style>
</head>
<body>
  <h1>Enter new password</h1>
  <p>Please enter your new password twice so we can verify you typed in correctly.</p>
  <form method="POST">
    {%csrf_token%}
    {{form}}
    <input type="Submit" class="btn"name="update password">
  </form>
  
 
 
</body>
</html>