
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password sent</title>
  
  <!--box icons-->
  <style>
    *{
      background-color: #3492fd;
    }
    .log{
      color: purple;
      font-weight: bolder;
    }
  </style>
</head>
<body>
  <h1>Password reset complete</h1>
  <p>Your password has been set. You may go ahead and login now</p>
  <a href='login' class="log">Login>></a>
  

  
 
  
 
 
</body>
</html>