
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset</title>
  
  <!--box icons-->
  <style>
    *{
      background-color: #3492fd;
    }
    .btn{
      background-color: black;
      color: #fff;
      border-radius: 10px;
    }
    .btn:hover{
      background-color: #fff;
      cursor: pointer;
      color: black;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <h1>Password reset</h1>
  <p>forgotten your password? Enter your email address below and we will email instructions for setting a new one.</p>
  

  <div class="rent" id="rent">
    <form method="POST">
      {%csrf_token%}
      {{form}}
      <input type="submit" class="btn"name="send email">
      
    </form>
    
    
  </div>
 
  
 
 
</body>
</html>